:root{
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Karla', sans-serif;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--Light-Gray);
    background-color: var(--Light-Gray);
}
main {
    width: 75vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 50px 0;
}
section {
    padding: 25px;
}
h1 { 
    color: var(--Cyan);
    font-size: 20px;
    margin-bottom: 15px;
}
h2 {
    color: var(--Light-Gray);
    font-size: 18px;
    margin-bottom: 15px;
}
.community {
    background-color: white;
}
.community h2 {
    color: var(--Bright-Yellow);
}
.community p {
    color: var(--Grayish-Blue);
    line-height: 25px;
}
.subscription {
    background-color: var(--Cyan);
}
.subscription span:nth-of-type(1) {
    font-size: 30px;
    font-weight: bold;
}
.subscription span:nth-of-type(2) {
    color: hsl(203deg 44% 93% / 70%);
    display: inline-block;
    margin-left: 10px;
}
.subscription p{
    margin: 10px 0;
}
.pricing-container {
    display: flex;
    align-items: center;
}
.subscription button {
    background-color: var(--Bright-Yellow);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    width: 95%;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 4px 10px 0px hsl(228deg 6% 56%);

}
.whyus {
    background-color: #4abebd;
}
.whyus ul {
    list-style: none;
    line-height: 20px;
}
.attribution { color: hsl(228, 45%, 44%); font-size: 11px; text-align: center; margin-top: 50px;}
.attribution a { color: hsl(228, 45%, 44%); }